sandbox_notebook.ipynb
__pychache__/*
*.pyc
model/*
/src/AlignAIR/Scripts/
MANIFEST.in
/site/404.html
/tests/debug_report/alignair_evaluation_report_20250804_172900.html
/tests/AlignAIR_IGH_EXT_Model_weights_final_epoch.data-00000-of-00001
/tests/AlignAIR_IGH_EXT_Model_weights_final_epoch.index
/tests/AlignAIR_MultiChain_LightChain.data-00000-of-00001
/tests/AlignAIR_MultiChain_LightChain.index
/tests/TestModel
/TestModel
/saved_models/TestModel_checkpoint.data-00000-of-00001
/tests/saved_models/TestModel_checkpoint.data-00000-of-00001
/saved_models/TestModel_checkpoint.index
/tests/saved_models/TestModel_checkpoint.index
/saved_models/TestModel/TestModel_weights_final_epoch.data-00000-of-00001
/tests/saved_models/TestModel/TestModel_weights_final_epoch.data-00000-of-00001
/saved_models/TestModel/TestModel_weights_final_epoch.index
/tests/saved_models/TestModel/TestModel_weights_final_epoch.index
/site/css/theme.css
/site/js/theme.js
/site/css/theme_extra.css
/site/js/theme_extra.js
/site/js/jquery-3.6.0.min.js
/site/css/fonts/lato-bold.woff
/site/css/fonts/lato-bold.woff2
/site/css/fonts/lato-bold-italic.woff
/site/css/fonts/lato-bold-italic.woff2
/site/css/fonts/lato-normal.woff
/site/css/fonts/lato-normal.woff2
/site/css/fonts/lato-normal-italic.woff
/site/css/fonts/lato-normal-italic.woff2
/tests/LightChain_AlignAIRR_S5F_OGRDB_V8_S5F_576_Balanced.data-00000-of-00001
/tests/LightChain_AlignAIRR_S5F_OGRDB_V8_S5F_576_Balanced.index
/tests/Genotyped_Frozen_Heavy_Chain_AlignAIRR_S5F_OGRDB_S5F_576_Balanced.data-00000-of-00001
/tests/Genotyped_Frozen_Heavy_Chain_AlignAIRR_S5F_OGRDB_S5F_576_Balanced.index
/Get File Name.html
/tests/heavy_chain_test_training_log.csv
/site/js/html5shiv.min.js
/checkpoints/IGH_S5F_576.data-00000-of-00001
/checkpoints/IGH_S5F_576.index
/checkpoints/IGH_S5F_576.zip
/checkpoints/IGH_S5F_576_EXTENDED.data-00000-of-00001
/checkpoints/IGH_S5F_576_EXTENDED.index
/checkpoints/IGH_S5F_576_EXTENDED.zip
/tests/IGHV_EXTENDED_Prod_Eval_4_5k_200.csv
/checkpoints/IGL_S5F_576.data-00000-of-00001
/checkpoints/IGL_S5F_576.index
/checkpoints/IGL_S5F_576.zip
/docs/migration_guide.md
/.idea/misc.xml
/model_params.yaml
/.idea/modules.xml
/package_structure.txt
/saved_models/TestModel/checkpoint
/saved_models/checkpoint
/tests/saved_models/TestModel/checkpoint
/tests/saved_models/checkpoint
/tests/checkpoint
/.idea/AlignAIRR.iml
/tests/AlignAIRR_S5F_OGRDB_V8_S5F_576_Balanced_V2.data-00000-of-00001
/tests/AlignAIRR_S5F_OGRDB_V8_S5F_576_Balanced_V2.index
/tests/AlignAIRR_TCRB_Model_checkpoint.data-00000-of-00001
/tests/AlignAIRR_TCRB_Model_checkpoint.index
/tests/AlignAIRR_TCRB_Model_weights_final_epoch.data-00000-of-00001
/tests/AlignAIRR_TCRB_Model_weights_final_epoch.index
/site/img/favicon.ico
/site/css/fonts/fontawesome-webfont.eot
/site/css/fonts/fontawesome-webfont.svg
/site/css/fonts/fontawesome-webfont.ttf
/site/css/fonts/fontawesome-webfont.woff
/site/css/fonts/fontawesome-webfont.woff2
/tests/full_model_outputsample_HeavyChain_dataset_alignair_results_predictObject.pkl
/tests/full_model_outputsample_HeavyChain_dataset_alignairr_results.csv
/tests/Genotyped_DataConfig.pkl
/.idea/inspectionProfiles/profiles_settings.xml
/tests/README_docker_tests.md
/site/css/fonts/Roboto-Slab-Bold.woff
/site/css/fonts/Roboto-Slab-Bold.woff2
/site/css/fonts/Roboto-Slab-Regular.woff
/site/css/fonts/Roboto-Slab-Regular.woff2
/site/sitemap.xml
/site/sitemap.xml.gz
/tests/TCRB_Sample_Data_alignair_results_predictObject.pkl
/tests/TCRB_Sample_K2_Data.csv
/checkpoints/TCRB_UNIFORM_576.data-00000-of-00001
/checkpoints/TCRB_UNIFORM_576.index
/checkpoints/TCRB_UNIFORM_576.zip
/tests/debug_multichain.py
/debug.py
/.idea/copilot.data.migration.agent.xml
/debug.ipynb
/jenkins_scripts/script1.py
/.idea/copilot.data.migration.edit.xml
/tests/debug_multi_chain.py
/jenkins_scripts/script2.py
/Count Samples in File.html
/jenkins_scripts/
/site/
/Load Config.html
/Load Models.html
/tests/edf_sample.csv
/.venv311/
